USE [master]
GO
/****** Object:  Database [AccountingFTR]    Script Date: 5/5/2022 02:09:33 ******/
CREATE DATABASE [AccountingFTR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Accounting FTR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Accounting FTR.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Accounting FTR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Accounting FTR_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AccountingFTR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AccountingFTR]
GO
/****** Object:  Table [dbo].[Machine]    Script Date: 5/5/2022 02:09:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Machine](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[number] [nvarchar](10) NOT NULL,
	[fine] [nvarchar](50) NOT NULL,
	[date] [date] NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_Machine] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/5/2022 02:09:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[login] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[number] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Machine] ON 

INSERT [dbo].[Machine] ([id], [number], [fine], [date], [status]) VALUES (2, N'к001зф134', N'Не престегнут ремень безопасности', CAST(N'2020-03-21' AS Date), 0)
INSERT [dbo].[Machine] ([id], [number], [fine], [date], [status]) VALUES (4, N'у283кх797', N'Препятствие движению', CAST(N'2022-03-13' AS Date), 1)
INSERT [dbo].[Machine] ([id], [number], [fine], [date], [status]) VALUES (6, N'к001зф134', N'Пересечение сплошной', CAST(N'2022-04-22' AS Date), 0)
SET IDENTITY_INSERT [dbo].[Machine] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [login], [password], [name], [number]) VALUES (1, N'User1', N'123', N'Данил', N'к001зф134')
INSERT [dbo].[Users] ([id], [login], [password], [name], [number]) VALUES (2, N'User2', N'123', N'Федор', N'у283кх797')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
USE [master]
GO
